.footer__copyright {
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
  padding-bottom: 60px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .footer {
    padding-left: 32px;
  }

  .footer__copyright {
    font-size: 16px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    width: 282px;
    margin: auto;
    padding-left: 0px;
  }

  .footer__copyright {
    font-size: 14px;
    padding-bottom: 36px;
  }
}
