.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__wrapper {
  position: relative;
}

.popup__close {
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 60%;
}

.popup__container {
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 54px;
}

.popup__input {
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
}

.popup__input_type_error {
  color: #000;
  border: none;
  border-bottom: 1px solid #ff0000;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
}

.popup__input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 14px;
}

.form__input-error {
  display: block;
  min-height: 16px;
  margin-top: 6px;
  margin-bottom: 9px;
  font-size: 12px;
  color: #ff0000;
  opacity: 0;
}

.form__input-error_active {
  opacity: 1;
}

.popup__button {
  margin-top: 18px;
  background-color: #000;
  color: white;
  border: none;
  font-size: 18px;
  padding: 13px 0;
  border-radius: 2px;
  cursor: pointer;
}

.popup__button_inactive {
  margin-top: 18px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 18px;
  padding: 13px 0;
  border-radius: 2px;
  cursor: default;
}

.popup__button:hover {
  opacity: 80%;
}

.popup__button_inactive:hover {
  opacity: 100%;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-title {
  font-size: 12px;
  color: #fff;
  margin: 0;
  margin-top: 10px;
}

@media screen and (max-width: 644px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }

  .popup__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 76px;
  }

  .popup__input {
    padding-bottom: 9px;
  }

  .popup__button {
    margin-top: 46px;
    padding: 14px 0;
    font-size: 14px;
  }

  .popup__close {
    width: 22px;
    right: 0px;
  }
}
