.profile {
  display: flex;
  align-items: center;
}

.profile__picture {
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info-container {
  display: flex;
  margin-bottom: 16px;
}

.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
}

.profile__about {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.profile__edit-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  padding-top: 15px;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: none;
  border: #fff 2px solid;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 950px) {
  .profile {
    width: 582px;
    margin: auto;
  }

  .profile__picture {
    margin-right: 20px;
  }

  .profile__name {
    width: 170px;
    font-size: 32px;
  }

  .profile__about {
    font-size: 16px;
  }
}

@media screen and (max-width: 644px) {
  .profile {
    flex-direction: column;
    width: 282px;
    margin: auto;
  }

  .profile__picture {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .profile__info {
    margin-bottom: 36px;
  }

  .profile__info-container {
    display: flex;
    margin-bottom: 14px;
  }

  .profile__name {
    width: auto;
    font-size: 22px;
    line-height: 1;
  }

  .profile__about {
    font-size: 14px;
    text-align: center;
  }

  .profile__edit-button {
    padding: 0;
    margin-left: 10px;
  }

  .profile__add-button {
    width: 100%;
  }

  .profile__add-icon {
    width: 16px;
  }
}
